{% from "components/input.html" import input %}

<link href="{{ url_for('static', filename='css/controller/joystick.css') }}" rel="stylesheet">

<div class="flex w-full h-full">
    <div class="flex flex-col w-full h-full space-y-4">
        {{ input("set_point", "Set Point") }}
        {{ input("current_height", "Altura Atual", True) }}
        {{ input("error", "Erro", True) }}
        {{ input("fa", "Fator de Ajuste", True, 1) }}
        {{ input("p_mode", "P-Mode", True, 3) }}
    </div>

    <div class="flex flex-col w-full h-full items-center space-y-10">
    <div class="flex flex-col items-center">
        <p class="block mb-1 text-sm font-medium text-gray-900">Controle</p>
        <div id="dpad" class="grid grid-cols-3 grid-rows-3 gap-2">
            <button id="up" class="direction-button flex justify-center items-center py-2 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-center col-start-2">
                ↑
            </button>
            <button id="left" class="direction-button flex justify-center items-center py-2 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-center col-start-1 row-start-2">
                ←
            </button>
            <button id="rth" class="flex justify-center items-center py-2 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-center col-start-2 row-start-2">
                RTH
            </button>
            <button id="right" class="direction-button flex justify-center items-center py-2 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-center col-start-3 row-start-2">
                →
            </button>
            <button id="down" class="direction-button flex justify-center items-center py-2 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-center col-start-2 row-start-3">
                ↓
            </button>
        </div>
    </div>
    <button
        type="button"
        id="go_to"
        class="py-4 px-3 text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center"
    >
        Go to Set Point
    </button>
</div>

</div>

<script src="{{ url_for('static', filename='js/controller/directional_buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/controller/rth.js') }}"></script>
