<div class="relative w-full h-full">
    <canvas id="error_chart" class="h-full w-full border border-transparent rounded-xl" width="400" height="200"></canvas>
</div>
<div class="relative w-full h-full">
    <canvas id="delta_error_chart" class="h-full w-full border border-transparent rounded-xl"></canvas>
</div>
<div class="relative w-full h-full">
    <canvas id="power_chart" class="h-full w-full border border-transparent rounded-xl"></canvas>
</div>

<script src="{{ url_for('static', filename='js/fuzzy/charts.js') }}"></script>